@import "tailwindcss";


/* Styles for hero img */
.hero__container {
    background: url(/public/heroimg1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.dark-overlay {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.4;
}