@import "tailwindcss";

body {
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

/* Styles for hero img */
.hero__container {
    background: url(/public/hero-img3.jpg);
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    height: 100vh;
}

.dark-overlay {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.7;
    height: 100vh;
}


/* b style */

b {
    color: #10B981;
}